@tailwind base;
@tailwind components;
@tailwind utilities;

/* For removing spin button in numbers input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
